target/
.idea/
.bloop
.metals
.scala-build
metals.sbt
.vscode/
/project/project/
.java-version
.bsp/
.env
.DS_Store
node_modules

content
app/src/main/resources/static/generated.css
app/src/main/resources/static/bundle.js*
*.env
